@import "reset";
// @import "footer";

.banker-app {
	width: 100%;
	max-width: 500px;
	padding: 1.5rem;
	margin: 0 auto;

	.user-greeting {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;

		.title-display {
			font-size: 1.4rem;
			color: $text-dim;

			.banker-name {
				display: block;
				color: $primary-color;
				font-weight: bold;
			}
		}

		.btn-import {
			padding: 10px 15px;
			border: 1px solid rgba($primary-color, 0.3);
			color: $primary-color;
			border-radius: $border-radius-rounded;
			background: linear-gradient(
				to right bottom,
				rgba($primary-color, 0.4),
				rgba($primary-color, 0.12)
			);
		}
	}

	.summary-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 12px;
		margin-bottom: 25px;

		.summary-card {
			@include glass-card;

			p {
				color: $text-dim;
				font-size: 1.2rem;
			}
			h3 {
				font-size: 1.6rem;
				color: $light-color;
			}

			&.total-card {
				grid-column: span 2;
				border-color: rgba($primary-color, 0.3);
				h3 {
					color: $primary-color;
				}
			}
		}
	}

	.form-card {
		@include glass-card;
		margin-bottom: 25px;

		.form-section-title {
			font-size: 1.2rem;
		}

		.winner-controls {
			display: flex;
			gap: 10px;
			margin-top: 15px;

			.form-input {
				flex: 1;
				background: rgba(0, 0, 0, 0.3);
				color: white;
				padding: 0.6rem 1rem;
				font-size: 1.2rem;
				border-radius: $border-radius-general;
				text-align: center;
				border: 1px solid rgba(255, 255, 255, 0.1);
			}

			.native-selector {
				appearance: none;
				-webkit-appearance: none;
				cursor: pointer;
				text-align: center;
				text-align-last: center;
			}

			.btn-main {
				flex: 2;
				color: black;
				max-width: none;
			}
		}
	}

	.section-label {
		color: $text-dim;
		font-size: 1.2rem;
		text-transform: uppercase;
		margin-bottom: 25px;
		letter-spacing: 1px;
		text-align: center;
	}

	.list-container {
		@include glass-card;
		padding: 10px 20px;
		margin-bottom: 25px;
		font-size: 0.9rem;

		.empty-msg {
			color: $text-dim;
			text-align: center;
			padding: 20px;
		}

		.list-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 15px 0;
			border-bottom: 1px solid rgba(255, 255, 255, 0.05);

			&:last-child {
				border-bottom: none;
			}

			.collector-info {
				strong {
					color: $light-color;
					font-size: 1.1rem;
				}
				span {
					display: block;
					color: $text-dim;
					font-size: 0.9rem;
				}
			}

			.amount-tag {
				color: $primary-color;
				font-weight: bold;
			}
		}
	}

	.btn-clear {
		background: transparent;
		border: 1px solid #e74c3c;
		color: #e74c3c;
		max-width: none;
	}
}
